USE [Gal302Db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.8.2019 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Araclars]    Script Date: 23.8.2019 20:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araclars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](10) NOT NULL,
	[Yil] [nvarchar](10) NOT NULL,
	[Km] [nvarchar](20) NOT NULL,
	[Renk] [nvarchar](20) NOT NULL,
	[Durum] [int] NOT NULL,
	[MotorGucu] [nvarchar](20) NOT NULL,
	[MotorHacmi] [nvarchar](20) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Foto] [nvarchar](350) NULL,
	[dateTime] [datetime] NOT NULL,
	[SaveUser] [int] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[UpdateUser] [int] NOT NULL,
	[YakitTipiId] [int] NOT NULL,
	[VitesId] [int] NOT NULL,
	[SehirId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Araclars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yCities]    Script Date: 23.8.2019 20:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yCities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sehir] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.yCities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yVites]    Script Date: 23.8.2019 20:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yVites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vites] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.yVites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yYakitTipis]    Script Date: 23.8.2019 20:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yYakitTipis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ytipi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.yYakitTipis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Araclars] ON 
GO
INSERT [dbo].[Araclars] ([Id], [Marka], [Model], [Yil], [Km], [Renk], [Durum], [MotorGucu], [MotorHacmi], [Aciklama], [Foto], [dateTime], [SaveUser], [UpdateDate], [UpdateUser], [YakitTipiId], [VitesId], [SehirId]) VALUES (2, N'Renault', N'Megane', N'2011', N'150.000', N'Füme', 1, N'110 Hp', N'1498', N'Temisss', NULL, CAST(N'2019-08-22T16:00:26.293' AS DateTime), -1, CAST(N'2019-08-22T16:00:26.293' AS DateTime), -1, 1, 1, 34)
GO
INSERT [dbo].[Araclars] ([Id], [Marka], [Model], [Yil], [Km], [Renk], [Durum], [MotorGucu], [MotorHacmi], [Aciklama], [Foto], [dateTime], [SaveUser], [UpdateDate], [UpdateUser], [YakitTipiId], [VitesId], [SehirId]) VALUES (3, N'Ford', N'Focus', N'2007', N'155.000', N'Aytozu(Gri)', 1, N'110 Hp', N'1600 cc', N'Araç çıtır hasarlı (pert)', NULL, CAST(N'2019-08-22T17:18:10.477' AS DateTime), -1, CAST(N'2019-08-22T17:18:10.477' AS DateTime), -1, 1, 2, 34)
GO
INSERT [dbo].[Araclars] ([Id], [Marka], [Model], [Yil], [Km], [Renk], [Durum], [MotorGucu], [MotorHacmi], [Aciklama], [Foto], [dateTime], [SaveUser], [UpdateDate], [UpdateUser], [YakitTipiId], [VitesId], [SehirId]) VALUES (7, N'Renault', N'Megane', N'2012', N'0', N'Gri', 0, N'110 Hp', N'1600 cc', N'Coupe', N'/Content/images/coupe.jpg', CAST(N'2019-08-23T17:48:44.000' AS DateTime), -1, CAST(N'2019-08-23T17:48:56.347' AS DateTime), -1, 1, 1, 34)
GO
SET IDENTITY_INSERT [dbo].[Araclars] OFF
GO
SET IDENTITY_INSERT [dbo].[yCities] ON 
GO
INSERT [dbo].[yCities] ([Id], [Sehir]) VALUES (1, N'1	Adana')
GO
INSERT [dbo].[yCities] ([Id], [Sehir]) VALUES (2, N'2	Adıyaman')
GO
INSERT [dbo].[yCities] ([Id], [Sehir]) VALUES (3, N'3	Afyonkarahisar')
GO
SET IDENTITY_INSERT [dbo].[yCities] OFF
GO
SET IDENTITY_INSERT [dbo].[yVites] ON 
GO
INSERT [dbo].[yVites] ([Id], [Vites]) VALUES (1, N'Otomatik')
GO
INSERT [dbo].[yVites] ([Id], [Vites]) VALUES (2, N'Manuel')
GO
INSERT [dbo].[yVites] ([Id], [Vites]) VALUES (3, N'Yarı Otomatik')
GO
SET IDENTITY_INSERT [dbo].[yVites] OFF
GO
SET IDENTITY_INSERT [dbo].[yYakitTipis] ON 
GO
INSERT [dbo].[yYakitTipis] ([Id], [Ytipi]) VALUES (1, N'Dizel')
GO
INSERT [dbo].[yYakitTipis] ([Id], [Ytipi]) VALUES (2, N'Benzinli')
GO
INSERT [dbo].[yYakitTipis] ([Id], [Ytipi]) VALUES (3, N'Hybrit')
GO
SET IDENTITY_INSERT [dbo].[yYakitTipis] OFF
GO
ALTER TABLE [dbo].[Araclars] ADD  DEFAULT ((0)) FOR [YakitTipiId]
GO
ALTER TABLE [dbo].[Araclars] ADD  DEFAULT ((0)) FOR [VitesId]
GO
ALTER TABLE [dbo].[Araclars] ADD  DEFAULT ((0)) FOR [SehirId]
GO
ALTER TABLE [dbo].[Araclars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Araclars_dbo.yCities_SehirId] FOREIGN KEY([SehirId])
REFERENCES [dbo].[yCities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Araclars] CHECK CONSTRAINT [FK_dbo.Araclars_dbo.yCities_SehirId]
GO
ALTER TABLE [dbo].[Araclars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Araclars_dbo.yVites_VitesId] FOREIGN KEY([VitesId])
REFERENCES [dbo].[yVites] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Araclars] CHECK CONSTRAINT [FK_dbo.Araclars_dbo.yVites_VitesId]
GO
ALTER TABLE [dbo].[Araclars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Araclars_dbo.yYakitTipis_YakitTipiId] FOREIGN KEY([YakitTipiId])
REFERENCES [dbo].[yYakitTipis] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Araclars] CHECK CONSTRAINT [FK_dbo.Araclars_dbo.yYakitTipis_YakitTipiId]
GO
